/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Helvetica Neue";
    src:
        local("Helvetica"),
        url("./fonts/HelveticaNeue-Roman.otf") format("opentype");
}

body {
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

picture,
figure,
img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 4.5vw, 1.5rem);
}

/* Header */
header {
    background: url('./images/hero.webp') no-repeat center center / cover;
    min-height: 95dvh;
    min-height: 95vh;
}

.logo img {
    max-height: 40px;
}

.btn {
    border: 0;
    outline: none;
    cursor: pointer;
}

.confirm-btn {
    background-color: var(--bg-golden);
    color: #fff;
    padding: .75rem 1.2rem;
}

/* Main */
section:not(#dinner, #tickets) {
    padding-block: 5rem;
}

/* SECTIONS */

/* Digisphere Section */
.digisphere,
#event-details {
    background-color: var(--bg-golden);
}

.digisphere .mailing-btn,
.black-btn {
    background-color: var(--bg-black);
    padding: .75rem 1.2rem;
}

.digisphere-content {
    max-width: 77ch;
    margin-inline: auto;
}

.digisphere-main-content:not(:last-child) {
    margin-block-end: 4rem;
}

.digisphere-content p:not(:last-child) {
    margin-block-end: 1rem;
}

.border-b-2 {
    border: 2px solid #fff;
    display: inline-block;
    min-width: 200px;
}

/* Dinner Section */
.dinner-wrapper :is(.dinner-main, .dinner-second) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.dinner-wrapper h2 {
    font-size: clamp(24px, 4.5vw, 42px);
    line-height: normal;
}
.dinner-wrapper p {
    font-size: clamp(16px, 4.5vw, 17px);
}

.dinner-wrapper img {
    height: 38rem;
}

/* Join Us Section */
#join-us {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 8%, rgba(140, 121, 75, 1) 100%),
        url('./images/join-us.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 85dvh;
    min-height: 85vh;
}

#join-us h2,
.event-details-heading h2 {
    font-size: clamp(32px, 4.5vw, 72px);
}

#join-us h3 {
    font-size: clamp(24px, 4.5vw, 42px);
    max-width: 30ch;
}

#join-us p {
    font-size: clamp(16px, 4.5vw, 18px);
    max-width: 55ch;
}


/* Event Details Section */
.border-b-1 {
    border: 1px solid #fff;
    display: inline-block;
    width: 100%;
}

.event-details-info {
    max-width: 26ch;
}
.event-details-info span:first-child {
    letter-spacing: .1rem;
}

.event-details-content img {
    height: 30px;
    margin-block-start: .5rem;
    object-fit: contain;
}

.event-details-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

.event-details-content > * {
    word-wrap: break-word;
}

/* Host Section */
#host .border-r {
    border-inline-end: 1px solid #fff;
}

/* Speedland Section */
#speedland {
    background: url('./images/speedland.png') no-repeat center center / cover;
    height: 55dvh;
    height: 55vh;
}

#speedland h2 {
  font-size: clamp(32px, 4.5vw, 80px);
  background: url('./images/speedland.png') no-repeat center center / cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
  mix-blend-mode: screen;
  filter: brightness(1.8) contrast(1.2);
}

#speedland button {
    background-color: var(--bg-golden);
    padding: .75rem 1.2rem;
}

/* Media Queries */
@media only screen and (min-width: 992px) {
    .header-content div > p {
        max-width: 45ch;
    }

    header::before {
        content: "";
        background-color: #000;
        position: absolute;
        inset: 0;
        width: calc(50% - 32px);
        height: 100%;
        z-index: -1;
    }

    .dinner-main div:not(:last-child) {
        max-width: 57ch;
        margin-inline: auto;
    }
    .dinner-second div:not(:first-child) {
        max-width: 57ch;
        margin-inline: auto;
    }

    .justify-md-end {
        justify-content: flex-end;
    }
    .px-md-3 {
        padding-inline: 3rem;
    }
}

@media only screen and (max-width: 992px) {
    .dinner-wrapper :is(.dinner-main, .dinner-second) {
        margin-block-end: 2rem;
        grid-template-columns: 1fr;
    }

    .dinner-wrapper img {
        height: auto;
    }
    .host-content {
        flex-direction: column;
        gap: 2rem !important;
    }
    
    #host .border-r {
        border-inline-end: none;
        border-block-end: 1px solid #fff;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .justify-sm-end {
        justify-content: flex-end;
    }
    .text-sm-center {
        text-align: center;
    }
    .digisphere-main-content:not(:first-child) h2 {
        max-width: 24ch;
        margin-inline: auto;
    }
    .mx-sm-auto {
        margin-inline: auto;
    }
}

@media only screen and (max-width: 768px) {
    .logo img {
        max-height: 30px;
    }
    .event-details-inner {
        grid-template-columns: 1fr;
    }
}